<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PharmaCO - Add Medicine</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='index.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='add_medicine.css') }}">

</head>

<body>

    <div class="header">
        <h1><img src="{{ url_for('static', filename='icon-pharmaco.png') }}" alt="PharmaCO Icon">PharmaCO</h1>

        <nav>
            <ul class="navbar">
                <li><a href="{{ url_for('home') }}"><i class="fa-solid fa-house-medical"></i> Home</a></li>
                <li><a href="{{ url_for('display_inventory') }}"><i class="fa-solid fa-truck-medical"></i>Inventory</a></li>
                <li class="dropdown">
                    <a href="javascript:void(0)" class="dropbtn"><i class="fas fa-plus"></i> Add Medicine</a>
                    <div class="dropdown-content">
                        <a href="{{ url_for('update_medicine_quantity_route', action='option1') }}">Update Pills</a>
                        <a href="{{ url_for('add_medicine', action='option2') }}">Add New</a>
                    </div>
                </li>
                <li><a href="{{ url_for('generate_report') }}"><i class="fa-solid fa-book-medical" style="color: #d71414;"></i> Generate Report</a></li>
                <li><a href="{{ url_for('find_medicine') }}"><i class="fa-solid fa-magnifying-glass"></i> Search</a></li>
                <li><a href="{{ url_for('sell_medicine_route') }}"><i class="fa-solid fa-egg" style="color: #d91717;"></i> Sell</a></li>
                <li class="dropdown">
                    <a href="javascript:void(0)" class="dropbtn"><i class="fa-solid fa-trash"></i> Remove</a>
                    <div class="dropdown-content">
                        <a href="{{ url_for('remove_medicine', action='option1') }}">Medicine</a>
                        <a href="{{ url_for('remove_sales_history', action='option2') }}">History</a>
                        <a href="{{ url_for('remove_user', action='option3') }}">Users</a>
                    </div>
                </li>
                <li><a href="{{ url_for('register') }}"><i class="fa-solid fa-user-doctor"></i> Register</a></li>
                <li><a href="{{ url_for('logout') }}"><i class="fa-solid fa-right-from-bracket"></i> Logout</a></li>
            </ul>
        </nav>
    </div>

    <div class="main-container">
        <h2> Add Medicine </h2>

        <div class="form-container">
            <form method="post" action="/add_medicine">
                <div class="form-group">
                    <label for="name">Medicine Name:</label>
                    <input type="text" id="name" name="name" required>
                </div>
                <div class="form-group">
                    <label for="price">Price:</label>
                    <input type="number" id="price" name="price" step="0.01" required>
                </div>
                <div class="form-group">
                    <label for="quantity">Quantity:</label>
                    <input type="number" id="quantity" name="quantity" required>
                </div>
                <div class="form-group">
                    <label for="mrp">MRP:</label>
                    <input type="number" id="mrp" name="mrp" step="0.01" required>
                </div>
                <div class="form-group">
                    <label for="expiry">Expiry:</label>
                    <input type="date" id="expiry" name="expiry" required>
                </div>
                <div class="form-group">
                    <input type="submit" value="Add">
                </div>
            </form>
        </div>

        <h2>Recently Added</h2>
        {% if medicines %}
        <table>
            <thead>
                <tr>
                    <th>Medicine Name</th>
                    <th>Price</th>
                    <th>Quantity</th>
                    <th>MRP</th>
                    <th>Expiry</th>
                </tr>
            </thead>
            <tbody>
                {% for medicine in medicines %}
                <tr>
                    <td>{{ medicine.name }}</td>
                    <td>{{ medicine.price }}</td>
                    <td>{{ medicine.quantity }}</td>
                    <td>{{ medicine.mrp }}</td>
                    <td>{{ medicine.expiry }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        {% else %}
        <p>Inventory is empty.</p>
        {% endif %}
    </div>

    <footer class="footer">
        <p>&copy; 2024 PharmaCO. All rights reserved.</p>
    </footer>

</body>

</html>
