<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PharmaCO</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='index.css') }}">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
</head>

<body>
    <header class="header">
        <h1><img src="{{ url_for('static', filename='icon-pharmaco.png') }}" alt="PharmaCO Icon"> PharmaCO</h1>
        <nav>
            <ul class="navbar">
                <li><a href="{{ url_for('home') }}"><i class="fa-solid fa-house-medical"></i> Home</a></li>
                <li><a href="{{ url_for('display_inventory') }}"><i class="fa-solid fa-truck-medical"></i> Inventory</a></li>
                <li class="dropdown">
                    <a href="#"><i class="fas fa-plus"></i> Add Medicine</a>
                    <div class="dropdown-content">
                        <a href="{{ url_for('update_medicine_quantity_route', action='option1') }}">Update Pills</a>
                        <a href="{{ url_for('add_medicine', action='option2') }}">Add New</a>
                        <a href="{{ url_for('transaction_history', action='option3') }}">Transactions</a>
                    </div>
                </li>
                <li><a href="{{ url_for('generate_report') }}"><i class="fa-solid fa-book-medical"></i> Generate Report</a></li>
                <li><a href="{{ url_for('find_medicine') }}"><i class="fa-solid fa-magnifying-glass"></i> Search</a></li>
                <li><a href="{{ url_for('sell_medicine_route') }}"><i class="fa-solid fa-capsules"></i> Sell</a></li>
                <li class="dropdown">
                    <a href="#"><i class="fa-solid fa-trash"></i> Remove</a>
                    <div class="dropdown-content">
                        <a href="{{ url_for('remove_medicine', action='option1') }}">Medicine</a>
                        <a href="{{ url_for('remove_sales_history', action='option2') }}">History</a>
                        <a href="{{ url_for('remove_user', action='option3') }}">Users</a>
                    </div>
                </li>
                <li><a href="{{ url_for('register') }}"><i class="fa-solid fa-user-doctor"></i> Register</a></li>
                <li><a href="{{ url_for('logout') }}"><i class="fa-solid fa-right-from-bracket"></i> Logout</a></li>
            </ul>
        </nav>
    </header>

    <main>
        <section id="featured-products" class="section">
            <div class="product" id="box1">
                <img src="{{ url_for('static', filename='zandu.jpg') }}" alt="Zandu">
            </div>
            <div class="product" id="box2">
                <img src="{{ url_for('static', filename='vicks.png') }}" alt="Pad">
            </div>
            <div class="product" id="box3">
                <img src="{{ url_for('static', filename='paracetamol.png') }}" alt="Paracetamol">
            </div>
        </section>

        <section class="dashboard section">
            <div class="dashboard-content">
                <div class="dashboard-item">
                    <h2>Expired</h2>
                    <p><i class="fa-solid fa-triangle-exclamation" style="color: #db0a49;"></i> {{ total_expired }}</p>
                </div>
                <div class="dashboard-item">
                    <h2>Sold</h2>
                    <p><i class="fa-solid fa-briefcase-medical" style="color: #e5155e;"></i> {{ total_sold }}</p>
                </div>
                <div class="dashboard-item">
                    <h2>Orders</h2>
                    <p><i class="fa-solid fa-truck-medical" style="color: #B197FC;"></i> 0</p>
                </div>
                <div class="dashboard-item">
                    <h2>Out of Stock</h2>
                    <p><i class="fa-solid fa-circle-exclamation" style="color: #f77ea8;"></i> {{ OFS }}</p>
                </div>
            </div>
        </section>
        
        
        

        <section class="stock section">
            <h2 class="collapsible"><i class="fa-solid fa-truck-medical"></i> New Items In Stock</h2>
            <div class="stock-content collapsible-content">
                {% if recently %}
                <table class="table">
                    <thead>
                        <tr>
                            <th>Medicine Name</th>
                            <th>Price</th>
                            <th>Quantity</th>
                            <th>MRP</th>
                            <th>Expiry</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for recent in recently %}
                        <tr>
                            <td>{{ recent.name }}</td>
                            <td>{{ recent.price }}</td>
                            <td>{{ recent.quantity }}</td>
                            <td>{{ recent.mrp }}</td>
                            <td>{{ recent.expiry }}</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
                {% else %}
                <p>No Items Available.</p>
                {% endif %}
            </div>
        </section>
<!-- 
        <section class="dashboard-label section">
            <h5 class="collapsible"><i class="fa-solid fa-chart-line" style="color: #63E6BE;"></i> Dashboards</h5>
        </section> -->

        <section class="container section">
            <h2 class="collapsible"><i class="fa-solid fa-battery-quarter" style="color: #57ff0f;"></i> Out of Stock</h2>
            <div class="outstock-content collapsible-content">
                {% if outstocks %}
                <table class="table">
                    <thead>
                        <tr>
                            <th>Medicine Name</th>
                            <th>Quantity</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for outstock in outstocks %}
                        <tr>
                            <td>{{ outstock.name }}</td>
                            <td>{{ outstock.quantity }}</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
                {% else %}
                <p>No Items are Out of Stock yet.</p>
                {% endif %}
            </div>
        </section>

        <section class="container section">
            <h2 class="collapsible"><i class="fa-solid fa-biohazard"></i> Expired Medicines</h2>
            <div class="expired-content collapsible-content">
                {% if expired_medicines %}
                <table class="table">
                    <thead>
                        <tr>
                            <th>Name</th>
                            <th>Expired</th>
                            <th>Quantity left</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for medicine in expired_medicines %}
                        <tr>
                            <td>{{ medicine.name }}</td>
                            <td>{{ medicine.expiry }}</td>
                            <td>{{ medicine.quantity }}</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
                {% endif %}
            </div>
        </section>

        <section class="container section">
            <h2 class="collapsible"><i class="fa-solid fa-vial"></i> Users Added</h2>
            <div class="users-content collapsible-content">
                {% if users %}
                <table class="table">
                    <thead>
                        <tr>
                            <th>Username</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for user in users %}
                        <tr>
                            <td>{{ user[1] }}</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
                {% else %}
                <p>No users added.</p>
                {% endif %}
            </div>
        </section>

        <section class="container section">
            <h2 class="collapsible"><i class="fa-solid fa-fire-flame-curved" style="color: #B197FC;"></i> Recently Sold</h2>
            <div class="sell-content collapsible-content">
                {% if sell %}
                <table class="table">
                    <thead>
                        <tr>
                            <th>Name</th>
                            <th>Quantity Sold</th>
                            <th>Date</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for x in sell %}
                        <tr>
                            <td>{{ x.name }}</td>
                            <td>{{ x.quantity_sold }}</td>
                            <td>{{ x.sell_date }}</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
                {% else %}
                <p>No Items Sold.</p>
                {% endif %}
            </div>
        </section>

        <section class="container section">
            <h2 class="collapsible"><i class="fa-solid fa-hourglass-start" style="color: #F59F00;"></i> Incoming Medicines</h2>
            <div class="coming-content collapsible-content">
                {% if incoming_medicines %}
                <table class="table">
                    <thead>
                        <tr>
                            <th>Name</th>
                            <th>Quantity</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for medicine in incoming_medicines %}
                        <tr>
                            <td>{{ medicine.name }}</td>
                            <td>{{ medicine.quantity }}</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
                {% endif %}
            </div>
        </section>

        <section class="container section">
            <h2 class="collapsible"><i class="fa-solid fa-pen-ruler" style="color: #20C997;"></i> Transaction History</h2>
            <div class="transaction-content collapsible-content">
                {% if transaction %}
                <table class="table">
                    <thead>
                        <tr>
                            <th>Transaction Date</th>
                            <th>Medicine Name</th>
                            <th>Quantity Sold</th>
                            <th>Customer Name</th>
                            <th>Phone No</th>
                            <th>Total Amount</th>
                            <th>Issued By</th>
                            

                        </tr>
                    </thead>
                    <tbody>
                        {% for trans in transaction %}
                        <tr>
                            <td>{{ trans.datestamp }}</td>
                            <td>{{ trans.medicine_name }}</td>
                            <td>{{ trans.quantity_sold }}</td>
                            <td>{{ trans.customer_name }}</td>
                            <td>{{ trans.phone_no }}</td>
                            <td>{{ trans.total_amount }}</td>
                            <td>{{ trans. issued_by }}</td>
                           
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
                {% endif %}
            </div>
        </section>
    </main>

    <div id="chatbot">
        <h2>PharmaCO GPT</h2>
        <button id="chat-route-button" onclick="redirectToChat()">Open Chat</button>
    </div>

    <footer class="footer">
        {% if 'username' in session %}
        <div class="box">
            <h4>Logged in as: {{ session['username'] }}</h4>
        </div>
        {% endif %}
        &copy; 2023 SHIVAM MAHAJAN. All rights reserved.
    </footer>

    <script>
        function redirectToChat() {
            window.location.href = "/chat";
        }

        $(document).ready(function () {
            $(".collapsible").click(function () {
                $(this).next(".collapsible-content").slideToggle();
                $(this).toggleClass("active");
            });
        });
    </script>
</body>

</html>
