<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Sell Medicines</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" integrity="sha512-FMzJZa5w44XvFbBlRT1I2VzVvYf9w/kKk0+X7cZ7sWf8tz40kXpOe+PbLEbyb6QhFp/bjAJ1kCMh++gK8i1ojA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='sell.css') }}">
</head>
<body>
  <div class="navbar">
    <ul>
      <li><a href="{{ url_for('home') }}"><i class="fas fa-house-medical"></i> Home</a></li>
      <li><a href="{{ url_for('generate_report') }}"><i class="fas fa-book-medical"></i> Generate Report</a></li>
      <li><a href="{{ url_for('find_medicine') }}"><i class="fas fa-search"></i> Search</a></li>
      <li><a href="{{ url_for('logout') }}"><i class="fa-solid fa-right-from-bracket"></i> Logout</a></li>
      <li><a href="{{ url_for('display_inventory') }}"><i class="fa-solid fa-truck-medical"></i> Inventory</a></li>
      <h1>PharmaCO <i class="fa-brands fa-opencart fa-lg" style="color: #74C0FC;"></i></h1>
    </ul>
  </div>

  <div class="container">
    <h2>Sell <i class="fas fa-hand-holding-medical" style="color: #cc245f;"></i> Medicines</h2>

    <!-- Customer Information Form -->
    <form method="post" action="/sell_medicine">
      <div class="form-group">
        <label for="customer_name">Customer Name:</label>
        <input type="text" id="customer_name" name="customer_name" required>
      </div>
      <div class="form-group">
        <label for="phone_no">Phone No:</label>
        <input type="text" id="phone_no" name="phone_no" required>
      </div>
      <div class="form-group">
        <label for="issued_by">Issued By:</label>
        <input type="text" id="issued_by" name="issued_by" required>
      </div>

      <!-- Sell Medicine Form -->
      <div id="medicines-container">
        <div class="medicine-form">
          <select name="medicine_name" required>
            {% for medicine in medicines %}
            <option value="{{ medicine.name }}">{{ medicine.name }}</option>
            {% endfor %}
          </select>
          <label for="quantity">Quantity:</label>
          <input type="number" name="quantity" min="1" required>
          <button type="button" class="remove-button" onclick="removeMedicineForm(this)">Remove</button>
        </div>
      </div>

      <div class="button-container">
        <button type="button" class="add-button" onclick="addMedicineForm()">Add Medicine</button>
        <button type="submit" class="sell-button">Sell</button>
      </div>
    </form>
    {% if message %}
    <h2>{{ message }}</h2>
    {% endif %}
    <form method="post" class="invoice-button" action="/invoice">
      <button type="submit">Generate Invoice</button>
    </form>
  </div>




  <script>
    function addMedicineForm() {
      var container = document.getElementById('medicines-container');
      var div = document.createElement('div');
      div.className = 'medicine-form';
      div.innerHTML = `
        <label for="medicine_name">Medicine Name:</label>
        <select name="medicine_name" required>
          {% for medicine in medicines %}
            <option value="{{ medicine.name }}">{{ medicine.name }}</option>
          {% endfor %}
        </select>
        <label for="quantity">Quantity:</label>
        <input type="number" name="quantity" min="1" required>
        <input type="submit" class="remove-button" value="X" onclick="removeMedicineForm(this)">
      `;
      container.appendChild(div);
    }

    function removeMedicineForm(button) {
      var container = document.getElementById('medicines-container');
      container.removeChild(button.parentNode);
    }
  </script>
</body>
</html>
