#################################################
# MAINTAINED BY: SHIVAM
#################################################

name: CI PR
on:
  pull_request:  
    branches: 
      - main
      - dev
      - release/*
      - hotfix/*
      - fix/*

    paths-ignore: 
      # - '.github/**'
      - 'README.md'
env:     
  IMAGE: pharmaco
  DOCKERHUB_USERNAME: shiva9921 

jobs:
  build:
    permissions:
      contents: read 
      security-events: write # for github/codeql-action/upload-sarif to upload SARIF results
      actions: read 
    runs-on: ubuntu-latest

    steps:
      - name: code Checkout
        uses: actions/checkout@v3
        with:
          fetch-depth: 0

      - name: Set up Python 3.9
        uses: actions/setup-python@v2
        with:
          python-version: 3.9

      - name: install dependencies
        run: |
          pip install pylint
          if [ -f requirements.txt ]; then pip install -r requirements.txt; fi  

      - name: Linting
        run: |
          pylint --output-format=json *.py > pylint_results.json || true
          pylint *.py | tail -n 2 >> pylint_results.json

      - name: Code Quality Gate Check
        id: parse_pylint
        run: |
          rating=$(tail -n 2 pylint_results.json | cut -d ":" -f 2 | cut -d "/" -f1 | cut -d "." -d ":" -f 2 | cut -d "/" -f1 | cut -d "." -f1)
          if (( $(echo "$rating < 7" ) )); then
            echo "Pylint rating is less than 7.00. Exiting pipeline." >> $GITHUB_STEP_SUMMARY
            exit 1
          fi

      - name: Upload Pylint results
        uses: actions/upload-artifact@v2
        if: always()
        with:
          name: pylint-results
          path: pylint_results.json
               
      #STEP 3 Dockerhub login
      - name: Login to Docker Hub
        uses: docker/login-action@v2
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      #STEP 4 Build 
      - name: Image Build
        run: |
          docker build -t ${{env.DOCKERHUB_USERNAME}}/${{env.IMAGE}}:v1.${{github.run_number}} .

      - name: Run Trivy vulnerability scanner
        uses: aquasecurity/trivy-action@master
        with:
          image-ref: '${{env.DOCKERHUB_USERNAME}}/${{env.IMAGE}}:v1.${{github.run_number}}'
          format: 'sarif'
          output: 'trivy-results.sarif'
      
      - name: Upload Trivy scan results to GitHub Security tab
        uses: github/codeql-action/upload-sarif@v3
        with:
          sarif_file: 'trivy-results.sarif'
